<div style="color: rgb(255, 30, 0); text-align: center;">
    <h1>{{name}}</h1>
    <h3>{{getFunc()}}</h3>
    <h6>My length is: {{name.length}}</h6>
    <h6>{{name.toUpperCase()}}</h6>
    <h6>{{name.toLocaleLowerCase()}}</h6>
    <h6>{{emp.name}}</h6>
    <h6>{{emp.age}}</h6>
    <h6>{{emp.age>20}}</h6>
    <h6>{{employee | json}}</h6>
    <h6>{{employee[1].name}}</h6>
</div>

<!--PIPES-->

<div>
    <h3>{{title | json}}</h3>
    <h3>{{title | uppercase}}</h3>
    <h3>{{title | lowercase}}</h3>
</div>